<div class="container">
    <h2>To do</h2>

    <div #todoList="cdkDropList" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="doneList"
         [cdkDropListData]="todo" cdkDropList class="list">
        @for (item of todo;track item) {
            <div class="list-item" cdkDrag>{{ item }}</div>
        }
    </div>
</div>

<div class="container">
    <h2>Done</h2>

    <div #doneList="cdkDropList" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="todoList"
         [cdkDropListData]="done" cdkDropList class="list">
        @for (item of done;track item) {
            <div class="list-item" cdkDrag>{{ item }}</div>
        }
    </div>
</div>

<button (click)="getValue()">TEST</button>
