@use '@angular/material' as mat;
@use "sass:map";

@include mat.core();

$my-blue-palette: (
    50 : #EBF5FF,
    100 : #E1EFFE,
    200 : #C3DDFD,
    300 : #A4CAFE,
    400 : #76A9FA,
    500 : #3F83F8,
    600 : #1C64F2,
    700 : #1A56DB,
    800 : #1E429F,
    900 : #233876,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
    )
);

$my-grey-palette: (
    50 : #F9FAFB,
    100 : #F3F4F6,
    200 : #E5E7EB,
    300 : #D1D5DB,
    400 : #9CA3AF,
    500 : #6B7280,
    600 : #4B5563,
    700 : #374151,
    800 : #1F2937,
    900 : #111827,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
    )
);

$custom-dark-background: (
    background: map.get($my-grey-palette, 900),
    card: map.get($my-grey-palette, 700),
    dialog: map.get($my-grey-palette, 700),
    raised-button: map.get($my-blue-palette, 600),
    selected-button: map.get($my-blue-palette, 600),
);


$portfolio-dark-theme: mat.define-dark-theme((
    color: (
        primary: mat.define-palette($my-grey-palette, 800, 600, 900),
        accent: mat.define-palette($my-blue-palette, 600, 500, 700),
        warn: mat.define-palette(mat.$red-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0
));

$my-theme: mat.define-light-theme((
    color: (
        primary: mat.define-palette(mat.$indigo-palette, 500),
        accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
        warn: mat.define-palette(mat.$red-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
));

$color-dark-map: map.get($portfolio-dark-theme, 'color');
$dark-color-map: map.merge($color-dark-map, ('background': $custom-dark-background));
$portfolio-dark-theme: map.merge($portfolio-dark-theme, ('color': $dark-color-map));

@include mat.all-component-themes($my-theme);

body.dark-theme {
    @include mat.all-component-colors($portfolio-dark-theme);
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
